.env
.envrc
.DS_Store
*~
*.swp
.idea/
.vscode/

# Binaries
/api/services/tmplsvc/tmplsvc
/api/tooling/admin/admin
/api/tooling/logfmt/logfmt

# Output of admin genkey
/private.pem
/public.pem

# Compose database volume
zarf/compose/database-data/
